  .home-display {
    text-align: center;
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgba(5, 5, 5, 0.3);
    width: 80vw;
    justify-content: center;
    align-content: center;
  }
  .body-p {
    font-size: 35px;
  }
  
  .index-intro {
    color:white;
  }
  
  .index-directions {
    color: red;
  }
  
  #underline {
    text-decoration: underline;
  }
  .responsive {
    width: 100%;
    height: auto;
  }
  
  .responsive-1 {
    width: 100%;
    height: auto;
  }
  