  .home-display {
    text-align: center;
    display: grid;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgba(5, 5, 5, 0.3);
    grid-auto-columns: 1fr, 1fr, 1fr;
    grid-auto-rows: minmax(87px, auto);
    grid-template-areas:
      "... home-intro ..."
  }
  .body-p {
    font-size: 35px;
  }
  
  .index-intro {
    color:white;
  }
  
  .index-directions {
    color: red;
    text-decoration: underline;
  }
  
  #underline {
    text-decoration: underline;
  }
  .responsive {
    width: 100%;
    height: auto;
  }
  
  .responsive-1 {
    width: 100%;
    height: auto;
  }
  