* {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width:900px){
  .appsolute {
      color: rgb(200,200,200);
      text-align: center !important;
      background-image: url('./Images/j-mob-101-min.png');
      background-attachment: fixed;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }@media (max-width:1200px){
    .appsolute {
      color: rgb(200,200,200);
      text-align: center;
      background-image: url('./Images/j-101-min.png');
      background-attachment: fixed;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }@media (min-width:1200px){
  .appsolute {
      color: rgb(200,200,200);
      background-color: black;
      text-align: center;
      background-image: url('./Images/j-101-min.png');
      background-size: 100%, auto;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }
  }